<a href="https://colab.research.google.com/github/ajitjadhav10/UMBC/blob/main/DATA%20602/Data_602_HW11.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#importing required libraries

import numpy as np
from keras.datasets import imdb
from keras import models
from keras import layers
import tensorflow as tf


from keras.models import Sequential
from tensorflow.keras.utils import to_categorical
from tensorflow.keras.layers import Flatten
from tensorflow.keras.layers import Dropout

from keras.layers import Dense
#from keras.layers import Flatten
from keras.layers.embeddings import Embedding
from keras.preprocessing import sequence

In [2]:
#splitting the data into data(features) and target

(training_d, training_t), (testing_d, testing_t) = imdb.load_data(num_words=10000)

In [3]:
data = np.concatenate((training_d, testing_d), axis=0)
target = np.concatenate((training_t, testing_t), axis=0)

In [4]:
#printing the categories present in the data
print("Unique Categories:",np.unique(target))

Unique Categories: [0 1]

In [5]:
print("Number of unique words:", len(np.unique(np.hstack(data))))

Number of unique words: 9998

In [6]:
#print the average length of the reviews

length_of_review = [len(i) for i in data]
print("Average length of a review:", np.mean(length_of_review))

Average length of a review: 234.75892

In [7]:
#printing the standard deviation

print("Standard Deviation:", round(np.std(length_of_review)))

Standard Deviation: 173

In [8]:
def vectorize(sequences, dimension = 10000):
  results = np.zeros((len(sequences), dimension))
  for i, sequence in enumerate(sequences):
    results[i, sequence] = 1
  return results
 
data = vectorize(data)
targets = np.array(target).astype("float32")

In [9]:
test_x = data[:10000]
test_y = target[:10000]
train_x = data[10000:]
train_y = target[10000:]

In [10]:
max_words=10000
training_d=sequence.pad_sequences(training_d,maxlen=max_words)
testing_d=sequence.pad_sequences(testing_d,maxlen=max_words)

In [11]:
# Input - Layer
model = Sequential()
model.add(layers.Dense(50, activation = "relu", input_shape=(10000, )))

# Hidden - Layers
model.add(layers.Dropout(0.3, noise_shape=None, seed=None))
model.add(layers.Dense(1024, activation = "relu"))
model.add(layers.Dropout(0.2, noise_shape=None, seed=None))
model.add(layers.Dense(2, activation = "relu"))

# Output- Layer
model.add(layers.Dense(1, activation = "sigmoid"))
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 50)                500050

 dropout (Dropout)           (None, 50)                0

 dense_1 (Dense)             (None, 1024)              52224

 dropout_1 (Dropout)         (None, 1024)              0

 dense_2 (Dense)             (None, 2)                 2050

 dense_3 (Dense)             (None, 1)                 3

=================================================================
Total params: 554,327
Trainable params: 554,327
Non-trainable params: 0
_________________________________________________________________

In [12]:
model.compile(optimizer = "adam", loss = "binary_crossentropy", metrics = ["accuracy"])

In [13]:
results=model.fit(train_x,
                  train_y,
                  epochs=20,
                  batch_size=512, 
                  validation_data=(test_x,test_y)
                  )

Epoch 1/20
79/79 [==============================] - 7s 80ms/step - loss: 0.5190 - accuracy: 0.8172 - val_loss: 0.4663 - val_accuracy: 0.8849
Epoch 2/20
79/79 [==============================] - 5s 64ms/step - loss: 0.4181 - accuracy: 0.9108 - val_loss: 0.4613 - val_accuracy: 0.8846
Epoch 3/20
79/79 [==============================] - 5s 65ms/step - loss: 0.3753 - accuracy: 0.9287 - val_loss: 0.4459 - val_accuracy: 0.8843
Epoch 4/20
79/79 [==============================] - 5s 67ms/step - loss: 0.3444 - accuracy: 0.9405 - val_loss: 0.4615 - val_accuracy: 0.8859
Epoch 5/20
79/79 [==============================] - 5s 65ms/step - loss: 0.3196 - accuracy: 0.9481 - val_loss: 0.4852 - val_accuracy: 0.8845
Epoch 6/20
79/79 [==============================] - 5s 66ms/step - loss: 0.2979 - accuracy: 0.9543 - val_loss: 0.5054 - val_accuracy: 0.8810
Epoch 7/20
79/79 [==============================] - 5s 65ms/step - loss: 0.2822 - accuracy: 0.9570 - val_loss: 0.4687 - val_accuracy: 0.8809
Epoch 8/20
79/79 [==============================] - 5s 65ms/step - loss: 0.2695 - accuracy: 0.9588 - val_loss: 0.4709 - val_accuracy: 0.8769
Epoch 9/20
79/79 [==============================] - 5s 65ms/step - loss: 0.2566 - accuracy: 0.9610 - val_loss: 0.5380 - val_accuracy: 0.8830
Epoch 10/20
79/79 [==============================] - 5s 65ms/step - loss: 0.2448 - accuracy: 0.9621 - val_loss: 0.5250 - val_accuracy: 0.8802
Epoch 11/20
79/79 [==============================] - 5s 66ms/step - loss: 0.2330 - accuracy: 0.9633 - val_loss: 0.4699 - val_accuracy: 0.8787
Epoch 12/20
79/79 [==============================] - 5s 65ms/step - loss: 0.2240 - accuracy: 0.9643 - val_loss: 0.5277 - val_accuracy: 0.8792
Epoch 13/20
79/79 [==============================] - 5s 65ms/step - loss: 0.2149 - accuracy: 0.9659 - val_loss: 0.4741 - val_accuracy: 0.8732
Epoch 14/20
79/79 [==============================] - 5s 65ms/step - loss: 0.2049 - accuracy: 0.9676 - val_loss: 0.5488 - val_accuracy: 0.8813
Epoch 15/20
79/79 [==============================] - 5s 65ms/step - loss: 0.1964 - accuracy: 0.9687 - val_loss: 0.5319 - val_accuracy: 0.8814
Epoch 16/20
79/79 [==============================] - 5s 65ms/step - loss: 0.1895 - accuracy: 0.9692 - val_loss: 0.5019 - val_accuracy: 0.8781
Epoch 17/20
79/79 [==============================] - 5s 65ms/step - loss: 0.1831 - accuracy: 0.9701 - val_loss: 0.4901 - val_accuracy: 0.8770
Epoch 18/20
79/79 [==============================] - 5s 65ms/step - loss: 0.1774 - accuracy: 0.9704 - val_loss: 0.5093 - val_accuracy: 0.8815
Epoch 19/20
79/79 [==============================] - 5s 65ms/step - loss: 0.1688 - accuracy: 0.9720 - val_loss: 0.5159 - val_accuracy: 0.8801
Epoch 20/20
79/79 [==============================] - 5s 65ms/step - loss: 0.1624 - accuracy: 0.9727 - val_loss: 0.5164 - val_accuracy: 0.8789

In [14]:
#testing accuracy

scores = model.evaluate(test_x, test_y, verbose=0)
print("Accuracy:",scores[1])

Accuracy: 0.8788999915122986

In [15]:
#training accuracy

scores = model.evaluate(train_x, train_y, verbose=0)
print("Accuracy:",scores[1])

Accuracy: 0.977524995803833

In [16]:
#printing the loss and accuracy

results = model.evaluate(test_x, test_y, verbose=1)

for name, value in zip(model.metrics_names, results):
  print("%s: %.3f" % (name, value))

313/313 [==============================] - 1s 4ms/step - loss: 0.5164 - accuracy: 0.8789
loss: 0.516
accuracy: 0.879

Exercise 2

1. from keras.processing.text import Tokenizer
2. Use keras to build a ‘Sequential’ model
3. Use the following model:
epochs = 20
maxlen = 100
embedding_dim = 50
num_filters = 64
kernel_size = 5
batch_size = 32
4. Use the ‘yelp_labelled.txt’
5. Use ‘sentence’ as feature and ‘label’ as target
6. Tokenizer with 5,000 words
7. Pad the X_train and X_test values
8. Use a ‘Sequential()’ model with

In [18]:
#importing the dataset
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/ajitjadhav10/UMBC/main/DATA%20602/data_files_DATA602/yelp_labelled.txt', sep='\t', header=None)
df.head()

                                                   0  1
0                           Wow... Loved this place.  1
1                                 Crust is not good.  0
2          Not tasty and the texture was just nasty.  0
3  Stopped by during the late May bank holiday of...  1
4  The selection on the menu was great and so wer...  1

In [20]:
df.rename(columns={0:'sentence',1:'label'}, inplace=True)

In [21]:
df.head()

                                            sentence  label
0                           Wow... Loved this place.      1
1                                 Crust is not good.      0
2          Not tasty and the texture was just nasty.      0
3  Stopped by during the late May bank holiday of...      1
4  The selection on the menu was great and so wer...      1

In [22]:
from sklearn.model_selection import train_test_split

sentences = df['sentence'].values
y = df['label'].values

x_train, x_test, y_train, y_test = train_test_split(sentences, y, test_size=0.30, random_state=1000)

In [23]:
from sklearn.feature_extraction.text import CountVectorizer

vectorizer = CountVectorizer()
vectorizer.fit(x_train)

X_train = vectorizer.transform(x_train)
X_test  = vectorizer.transform(x_test)
X_train

<700x1665 sparse matrix of type '<class 'numpy.int64'>'
	with 6898 stored elements in Compressed Sparse Row format>

In [24]:
#input_dim = X_train.shape[1]

In [25]:
from keras.preprocessing.text import Tokenizer

tokenizer = Tokenizer(num_words=5000)
tokenizer.fit_on_texts(x_train)

X_train = tokenizer.texts_to_sequences(x_train)
X_test = tokenizer.texts_to_sequences(x_test)

vocab_size = len(tokenizer.word_index) + 1  # Adding 1 because of reserved 0 index

print(x_train[10])
print(X_train[10])

The best place to go for a tasty bowl of Pho!
[1, 47, 15, 6, 40, 13, 5, 163, 447, 10, 269]

In [26]:
from keras.preprocessing.sequence import pad_sequences

maxlen = 100

X_train = pad_sequences(X_train, padding='post', maxlen=maxlen)
X_test = pad_sequences(X_test, padding='post', maxlen=maxlen)

print(X_train[0, :])

[264  57 443   6  83 129  10   1 444 710 147 711   0   0   0   0   0   0
   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
   0   0   0   0   0   0   0   0   0   0]

In [27]:
embedding_dim = 50

model = Sequential()
model.add(layers.Embedding(vocab_size, embedding_dim, input_length=maxlen))
model.add(layers.Conv1D(64, 5, activation='relu'))
model.add(layers.GlobalMaxPooling1D())
model.add(layers.Dense(10, activation='relu'))
model.add(layers.Dense(1, activation='sigmoid'))
model.compile(optimizer='adam',
              loss='binary_crossentropy',
              metrics=['accuracy'])
model.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 embedding (Embedding)       (None, 100, 50)           84900

 conv1d (Conv1D)             (None, 96, 64)            16064

 global_max_pooling1d (Globa  (None, 64)               0
 lMaxPooling1D)

 dense_4 (Dense)             (None, 10)                650

 dense_5 (Dense)             (None, 1)                 11

=================================================================
Total params: 101,625
Trainable params: 101,625
Non-trainable params: 0
_________________________________________________________________

In [28]:
#fitting the model and printing the accuracy
fit_result = model.fit(X_train, y_train,
                    epochs=20,
                    verbose=False,
                    validation_data=(X_test, y_test),
                    batch_size=32,
                    )

loss, accuracy = model.evaluate(X_train, y_train, verbose=False)
print("Training Accuracy: {:.4f}".format(accuracy))

loss, accuracy = model.evaluate(X_test, y_test, verbose=False)
print("Testing Accuracy:  {:.4f}".format(accuracy))

Training Accuracy: 1.0000
Testing Accuracy:  0.8167

In [29]:
#Loss and accuracy for testing data
results = model.evaluate(X_test, y_test, verbose=1)

for name, value in zip(model.metrics_names, results):
  print("%s: %.3f" % (name, value))

10/10 [==============================] - 0s 4ms/step - loss: 0.5929 - accuracy: 0.8167
loss: 0.593
accuracy: 0.817

In [30]:
#Loss and accuracy for training data

results = model.evaluate(X_train, y_train, verbose=1)

for name, value in zip(model.metrics_names, results):
  print("%s: %.3f" % (name, value))

22/22 [==============================] - 0s 9ms/step - loss: 9.5729e-04 - accuracy: 1.0000
loss: 0.001
accuracy: 1.000